@use "sass:math";


body {
    margin: 0;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}


$primaryColor: #18031F;
$secondaryColor: #CB41E0;
$lightColor: #F554F7;
$anotherColor: #E041C3;
$strongColor: #FC49B5;
$color-white: #FFF;

@function pxToRem($value) {
    $remValue: (math.div($value, 16)) + rem;	
    @return $remValue;
}
