@import '../../styles/general.scss';

::-webkit-scrollbar              { 
    background: black;
 }
::-webkit-scrollbar-button       { 
    background: $primaryColor;
 }
::-webkit-scrollbar-track        { 
    background: $primaryColor;
 }
::-webkit-scrollbar-track-piece  { 
    background-color: $anotherColor;
 }
::-webkit-scrollbar-thumb        { 
    background-color: white;
 }

@mixin container {
    background-image: url('@assets/background-code.svg');
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    min-height: 100vh;
    
}

@mixin notShowedInSmallScreen {
    @media screen and (max-width: 600px) {
        display: none;
    }
}

@mixin fillFullWidthInSmallScreen {
    @media screen and (max-width: 600px) {
        width: 100%;
    }    
    margin-top: 5%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    background-color:  $primaryColor;

    hr{
        width: 80%;
        margin-top: pxToRem(10);
        margin-bottom: pxToRem(30);
        border: pxToRem(2.5) solid $lightColor;
        border-radius: pxToRem(5);
        transition: 0.9s;
        opacity: 20%;

        &:hover{
            width: 50%;
            transition: 0.9s;
        }
    }

    .header-initial{
        @include container;
        margin: pxToRem(20);

        img {
            margin: 0;
            width: pxToRem(200);
        }

        .goal {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            min-width: 100%;

            h2 {
                margin: pxToRem(30) pxToRem(3) pxToRem(3) ;
                font-size: pxToRem(80);
                color: white;
                width: 100%;
                font-family: Fira Sans Condensed;                
                font-weight: 600;
                text-align: center;
            }

            p {
                margin-top: pxToRem(20);
                font-size: pxToRem(30);
                color: $secondaryColor;
                font-family: Fira Sans Condensed;
                font-weight: 600;
                line-height: pxToRem(30);
            }

            button {
                display: flex;
                width: pxToRem(300);
                height: pxToRem(50);
                margin-top: pxToRem(30);
                background-color: white;
                cursor: pointer;
                border: none;
                border-radius: pxToRem(10);
                font-weight: bold;

                a {
                    display: flex;
                    color: $primaryColor;
                    text-decoration:none;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                }

                &:hover {
                    width: pxToRem(302);
                    height: pxToRem(51);
                }
                
            }
            
        }      
    }

    .about-me{
        @include container();

        p {
            width: 50%;
            font-size: pxToRem(30);
            color: white;
            text-align: center;
            font-family: Fira Sans Condensed;
            line-height: pxToRem(40);
            
            @media screen and (max-width: 600px) {
                width: 100%;
                font-size: pxToRem(20);
                line-height: pxToRem(30);
            }
        }
        
        img {            
            width: 50%;  
            height: 70%;
            @include notShowedInSmallScreen();
        }
    }

    .course {
        @include container();
        width: 100vw;
        text-align: center;

        .about-course {
            width: 50%;
            @include fillFullWidthInSmallScreen();


            h2 {
                color: $lightColor;
                width: 100%;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                li {
                    width: 100%;
                    font-size: pxToRem(30);
                    color: white;
                    text-align: center;
                    font-family: Fira Sans Condensed;
                    line-height: pxToRem(40);
                }
            } 
        }

        .how-sigin{
            width: 50%;

            @media screen and (max-width: 600px){
                margin-top: pxToRem(50);      
            };
            
            @include fillFullWidthInSmallScreen();

            h2 {
                color: $lightColor;
                text-align: center;
                width: 100%;
            }
            p {
                width: 100%;
                font-size: pxToRem(30);
                color: white;
                text-align: center;
                font-family: Fira Sans Condensed;
                line-height: pxToRem(40);
                
            }
        }
    }

    .differential {
        @include container();
        width: 100vw;
        text-align: center;

        .text-explain {
            width: 50%;
            @include fillFullWidthInSmallScreen();

            h2{
                width: 100%;
                color: $lightColor;
            }
            p{
                width: 100%;
                font-size: pxToRem(30);
                color: white;
                text-align: center;
                font-family: Fira Sans Condensed;
                line-height: pxToRem(40);
            }
        }

        .form-email{
            width: 40%;
            display: flex;
            flex-direction: column;
            margin-left: pxToRem(20);
            @include fillFullWidthInSmallScreen();
            justify-content: stretch;
            
            h2{
                color: $lightColor;
                width: 100%;
            }

            .input-group {
                display: flex;
                flex-wrap: wrap;

                label{
                    width: 100%;
                    color: white;
                    font-weight: bold;
                    margin-top: 5%;
                    margin-bottom: 2%;
                }
                input {
                    width: 100%;
                    height: pxToRem(30);
                    border: none;
                    border-radius: pxToRem(10);
                    color: $primaryColor;
                    font-family: Fira Sans Condensed;
                    text-align: center;
                }                
            }

            button {
                width: 100%;
                height: pxToRem(50);
                margin-top: pxToRem(30);
                background-color: white;
                cursor: pointer;
                border: none;
                border-radius: pxToRem(10);
                color: $primaryColor;
                font-weight: bold;

                &:hover {
                    width: 99%;
                    height: pxToRem(49);
                }
                
            }
        }
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .social-medias{
            width: 100%;
            display: flex;
            justify-content: center;
            
            img {
                margin: pxToRem(10);
                height: pxToRem(50);
                cursor: pointer;
            }
        }
        p{
            color: white;
            margin-bottom: pxToRem(20);
            font-size: pxToRem(12);
            font-family: Fira Sans Condensed;
            line-height: pxToRem(30);
        }
    }
}

